<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light  navbar__style">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">BOHO Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <form role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" (keyup)="search($event)">
        </form>
        <div id="navbarSupportedContent">
            <form class="d-flex">

                <a class="btn btn-outline-dark" routerLink="products/wishlist">

                    <i class="bi-cart-fill me-1"></i>
                    Wishlist
                    <i class="fa-regular fa-heart"></i>
                </a>

                <a class="btn btn-outline-dark ms-2" routerLink="products/cart">

                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItems}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>