.header__style h1 {
    color: #86E5FF;
}

.header__style p {
    color: #5BC0F8;
    opacity: .5;
}

img {
    transition: 1s;
    object-fit: contain;
}
.card:hover img {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

